.body_backgorund 
{
    background-image:url('hOye.gif');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
#myCanvas
{
border-width:10px ;
border-color:blue ;
border-style: ridge;
background-color: aqua;


    
}

